DATA_SOURCE_MODE=live

# URL l-jdid direct l-API-SPORTS
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io

# 7tt l-key dyalk hna direct
RAPIDAPI_KEY=*************

#RAPIDAPI_KEY=your_rapidapi_key --- IGNORE ---
